.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #B6D9E1;  
  position: relative;
  padding: 60px 50px;
  height: 100%;
}
  
.about-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.about-container h1 {
  font-size: 34px;
  padding-top: 10px;
}
  
.about-container p {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}
  
.about-container ul li {
  font-size: 16px;
}
  
.about-container ul {
  padding-top: 5px;
}

.about-container h2 {
  padding-top: 35px;
  font-size: 30px;
}

.abouts {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  padding-top: 20px;
}

.about-card {
  background-color: #B2EBF2;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 330px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
  cursor: pointer;
}

.about-card:hover {
  transform: scale(1.05);
}

.about-card figure {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.about-card figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.about-card img {
  width: 100%;
  height: 200px;
  display: block;
}

.about-card p {
  padding: 0 15px 15px;
  color: #666;
  font-size: 1em;
}